<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ios_common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>osx_common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09E98D941CB30A2C0083DEDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E98D9D1CB30A2C0083DEDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E98DB91CB30D530083DEDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E98DC21CB30D530083DEDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE684F1CAF17AE004CE47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE68611CAF17AE004CE47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE686C1CAF17AF004CE47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE68821CAF180B004CE47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE68981CAF180B004CE47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE68A31CAF180B004CE47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
